body {
   background-color: lightseagreen;
   display: flex; 
   width: 100vw;
    height: 100vh;
    justify-content: center;
    }
    .row{
    display: flex;
    justify-content: center;
    border: black solid 5px;
   width: 570px;
}

.wordWrap{
    height:200px;
    width:200px;
    border: black solid;
    overflow: scroll;

} 
#item{
    border: black solid 3px;
    width: 165px;
}

  
.DivToScroll{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}


.DivWithScroll{
    height:120px;
    overflow:scroll;
    overflow-x:hidden;
}